<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Book</title>
</head>
<body>
    <h1>Edit Book</h1>
    <form action="/edit_book/{{ book['_id'] }}" method="post">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" value="{{ book['title'] }}"><br>
        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author" value="{{ book['author'] }}"><br>
        <label for="published_year">Published Year:</label><br>
        <input type="text" id="published_year" name="published_year" value="{{ book['published_year'] }}"><br>
        <label for="genre">Genre:</label><br>
        <input type="text" id="genre" name="genre" value="{{ book['genre'] }}"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>